.ui5-link {
  color: #0a6ed1;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 180ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 2px;
}
.ui5-link:hover {
  text-decoration: underline;
  color: #085caf;
}
.ui5-link:focus-visible {
  outline: 2px solid #0a6ed1;
  border-radius: 2px;
}
.ui5-link--subtle {
  color: #6a6d75;
}
.ui5-link--subtle:hover {
  color: #1a1d23;
  text-decoration: underline;
}
.ui5-link--visited {
  color: #6c2483;
}
.ui5-link--visited:hover {
  color: rgb(75.0179640719, 25.005988024, 90.994011976);
}
