@use '../../shared/variables' as *;

.mtk-label {
  font-size: 13px;
  font-weight: 500;
  color: $text-2;
  display: inline-block;

  &--required::after { content: ' *'; color: $color-error; }
  &--colon::after    { content: ':'; }

  &--required.mtk-label--colon::after { content: ' *:'; color: $color-error; }
}
