@use '../../shared/variables' as *;


.mtk-title {
  font-family: $font-primary; font-weight: 700; color: $text-1; line-height: 1.2;
  &--h1 { font-size: 28px; letter-spacing: -.5px; }
  &--h2 { font-size: 22px; }
  &--h3 { font-size: 18px; }
  &--h4 { font-size: 16px; }
  &--h5 { font-size: 14px; }
  &--h6 { font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: $text-3; }
}
