@use '../../shared/variables' as *;

.mtk-title {
  font-weight: 700; color: $text-1;
  &--h1 { font-size: 28px; letter-spacing: -0.5px; }
  &--h2 { font-size: 22px; }
  &--h3 { font-size: 18px; }
  &--h4 { font-size: 16px; }
  &--h5 { font-size: 14px; }
  &--h6 { font-size: 11px; text-transform: uppercase; letter-spacing: 1px; }
}

.mtk-text {
  font-size: 14px; line-height: 1.6; color: $text-1;
  &--max2 {
    overflow: hidden; display: -webkit-box;
    -webkit-line-clamp: 2; -webkit-box-orient: vertical;
  }
}
